@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #4f46e5;
    --secondary-color: #fbbf24;
    --background-color: #f3f4f6;
    --text-color: #1f2937;

    --font-primary: 'Inter', sans-serif;
}